.wrapper {
  display: flex;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  width: 614px;
  border: 1px solid var(--border);
  border-radius: 16px;
}

.currencySelectors {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 480px) {
  .wrapper {
    flex-wrap: wrap;
  }

  .currencySelectors {
    flex-wrap: wrap;
    width: 100%;
    gap: 0.3rem;
  }
}