*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #0A0A0A;
  --text-secondary: #737373;

  --border: #D4D4D4;
  --bg-primary: #FFFFFF;
  --bg-secondary: #FAFAFA;

  --focused: #DBEAFE;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}



